
@{
    ViewBag.Title = "TIN TỨC VANS MỚI NHẤT CẬP NHẬT MỖI NGÀY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" itemscope="" itemtype="https://schema.org/Blog">
    <meta itemprop="name" content="TIN TỨC VANS MỚI NHẤT CẬP NHẬT MỖI NGÀY">
    <meta itemprop="description" content="Giao hàng toàn Quốc - Đổi hàng online nhanh chóng chỉ có tại VANS Việt Nam -
Hot nhất: Vans Old Skool - Authentic - Sk8 - Slip-on - Era - Classic - Checkerboard">
    <div class="row">

        <div class="content_all f-left w_100">
            <div class="right-content margin-bottom-fix margin-bottom-50-article col-md-12 col-sm-12 col-xs-12">
                <div class="box-heading relative hidden">

                    <h1 class="title-head page_title">
                        TIN TỨC VANS MỚI NHẤT CẬP NHẬT MỖI NGÀY
                    </h1>

                </div>

                <div class="list-blogs blog-main row content_blog_new">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="blog_index">
                            <div class="myblog" onclick="window.location.href='#';">
                                <div class="image-blog-left a-center">
                                    <a href="#" title="CONCEPTS X VAULT BY VANS SMOKE AND MIRRORS">

                                        <img class="lazyload img-responsive loaded" src="~/Assets/Images/news/desktop31.png" alt="CONCEPTS X VAULT BY VANS SMOKE AND MIRRORS" data-was-processed="true">

                                    </a>
                                    <div class="date_blog">
                                        <i class="fa fa-calendar"></i><b class="color_main">20/09/2023</b>
                                        &nbsp; Đăng bởi: <b class="color_main">VANS Việt Nam</b>
                                    </div>
                                </div>
                                <div class="content_blog">
                                    <div class="content_right">
                                        <h3>
                                            <a href="#" title="CONCEPTS X VAULT BY VANS SMOKE AND MIRRORS">CONCEPTS X VAULT BY VANS SMOKE AND MIRRORS</a>
                                        </h3>
                                    </div>
                                    <div class="summary_item_blog">
                                        <p>Concepts&nbsp;và&nbsp;Vault VANS&nbsp;đã hợp tác một lần nữa, lần này cả hai cho r...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="blog_index">
                            <div class="myblog" onclick="window.location.href='#';">
                                <div class="image-blog-left a-center">
                                    <a href="#" title="GIỚI THIỆU MẪU HỢP TÁC KỶ NIỆM 3 NĂM THÀNH LẬP VANS STORE HARAJUKU">

                                        <img class="lazyload img-responsive loaded" src="~/Assets/Images/news/desktop27.png" alt="GIỚI THIỆU MẪU HỢP TÁC KỶ NIỆM 3 NĂM THÀNH LẬP VANS STORE HARAJUKU" data-was-processed="true">

                                    </a>
                                    <div class="date_blog">
                                        <i class="fa fa-calendar"></i><b class="color_main">20/09/2023</b>
                                        &nbsp; Đăng bởi: <b class="color_main">VANS Việt Nam</b>
                                    </div>
                                </div>
                                <div class="content_blog">
                                    <div class="content_right">
                                        <h3>
                                            <a href="#" title="GIỚI THIỆU MẪU HỢP TÁC KỶ NIỆM 3 NĂM THÀNH LẬP VANS STORE HARAJUKU">GIỚI THIỆU MẪU HỢP TÁC KỶ NIỆM 3 NĂM THÀNH LẬP VANS STORE HARAJUKU</a>
                                        </h3>
                                    </div>
                                    <div class="summary_item_blog">
                                        <p>VANS đang rục rịch&nbsp; phát hành bộ sưu tập hợp tác mới nhất của mình, lần này l...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="blog_index">
                            <div class="myblog" onclick="window.location.href='#';">
                                <div class="image-blog-left a-center">
                                    <a href="#" title="FEATURE X VANS VAULT OLD SKOOL “DOUBLE DOWN”">

                                        <img class="lazyload img-responsive loaded" src="~/Assets/Images/news/feature-x-vans-vault-old-skool-double-down-1-1.png" alt="FEATURE X VANS VAULT OLD SKOOL “DOUBLE DOWN”" data-was-processed="true">

                                    </a>
                                    <div class="date_blog">
                                        <i class="fa fa-calendar"></i><b class="color_main">20/09/2023</b>
                                        &nbsp; Đăng bởi: <b class="color_main">VANS Việt Nam</b>
                                    </div>
                                </div>
                                <div class="content_blog">
                                    <div class="content_right">
                                        <h3>
                                            <a href="#" title="FEATURE X VANS VAULT OLD SKOOL “DOUBLE DOWN”">FEATURE X VANS VAULT OLD SKOOL “DOUBLE DOWN”</a>
                                        </h3>
                                    </div>
                                    <div class="summary_item_blog">
                                        <p>Hẳn là bạn vẫn nhớ lần hợp tác đầy quyến rũ của Feature và VANS với bộ sưu tập ấn ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="blog_index">
                            <div class="myblog" onclick="window.location.href='#';">
                                <div class="image-blog-left a-center">
                                    <a href="#" title="VAULT BY VANS “CHẮP VÁ” NHỮNG VẾT RÁCH ĐỂ TÔN VINH VĂN HÓA TRƯỢT VÁN NHỮNG NĂM 1980">

                                        <img class="lazyload img-responsive loaded" src="~/Assets/Images/news/vault-by-vans-chap-va-nhung-vet-rach-de-ton-vinh-van-hoa-truot-van-nhung-nam-1980-6.png" alt="VAULT BY VANS “CHẮP VÁ” NHỮNG VẾT RÁCH ĐỂ TÔN VINH VĂN HÓA TRƯỢT VÁN NHỮNG NĂM 1980" data-was-processed="true">

                                    </a>
                                    <div class="date_blog">
                                        <i class="fa fa-calendar"></i><b class="color_main">19/09/2023</b>
                                        &nbsp; Đăng bởi: <b class="color_main">VANS Việt Nam</b>
                                    </div>
                                </div>
                                <div class="content_blog">
                                    <div class="content_right">
                                        <h3>
                                            <a href="#" title="VAULT BY VANS “CHẮP VÁ” NHỮNG VẾT RÁCH ĐỂ TÔN VINH VĂN HÓA TRƯỢT VÁN NHỮNG NĂM 1980">VAULT BY VANS “CHẮP VÁ” NHỮNG VẾT RÁCH ĐỂ TÔN VINH VĂN HÓA TRƯỢT VÁN NHỮNG NĂM 1980</a>
                                        </h3>
                                    </div>
                                    <div class="summary_item_blog">
                                        <p>Sau sự hợp tác với&nbsp;INVINCIBLE&nbsp;của Đài Loan , Vault by Vans&nbsp;thử nghi...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="blog_index">
                            <div class="myblog" onclick="window.location.href='#';">
                                <div class="image-blog-left a-center">
                                    <a href="#" title="VANS OLD SKOOL LX " love="" wins"="" -="" mẪu="" giÀy="" vỚi="" hỌa="" tiẾt="" nhiỀu="" mÀu="" sẮc"="">

                                        <img class="lazyload img-responsive loaded" src="~/Assets/Images/news/vans-old-skool-lx-love-wins-mau-giay-voi-hoa-tiet-nhieu-mau-sac-3.png" alt="VANS OLD SKOOL LX " love="" wins"="" -="" mẪu="" giÀy="" vỚi="" hỌa="" tiẾt="" nhiỀu="" mÀu="" sẮc"="" data-was-processed="true">

                                    </a>
                                    <div class="date_blog">
                                        <i class="fa fa-calendar"></i><b class="color_main">19/09/2023</b>
                                        &nbsp; Đăng bởi: <b class="color_main">VANS Việt Nam</b>
                                    </div>
                                </div>
                                <div class="content_blog">
                                    <div class="content_right">
                                        <h3>
                                            <a href="#" title="VANS OLD SKOOL LX " love="" wins"="" -="" mẪu="" giÀy="" vỚi="" hỌa="" tiẾt="" nhiỀu="" mÀu="" sẮc"="">VANS OLD SKOOL LX "LOVE WINS" - MẪU GIÀY VỚI HỌA TIẾT NHIỀU MÀU SẮC</a>
                                        </h3>
                                    </div>
                                    <div class="summary_item_blog">
                                        <p>Vừa qua, nhà Vans đã ra mắt phiên bản đặc biệt "Vans Old Skool LX Love Wins" với t...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="blog_index">
                            <div class="myblog" onclick="window.location.href='#';">
                                <div class="image-blog-left a-center">
                                    <a href="#" title="HỢP TÁC SUPREME X VANS MÙA XUÂN 2023: BỘ SƯU TẬP MỚI TẠI VANS">

                                        <img class="lazyload img-responsive loaded" src="~/Assets/Images/news/hop-tac-supreme-x-vans-mua-xuan-2023-bo-suu-tap-moi-tai-vans-1.png" alt="HỢP TÁC SUPREME X VANS MÙA XUÂN 2023: BỘ SƯU TẬP MỚI TẠI VANS" data-was-processed="true">

                                    </a>
                                    <div class="date_blog">
                                        <i class="fa fa-calendar"></i><b class="color_main">19/09/2023</b>
                                        &nbsp; Đăng bởi: <b class="color_main">VANS Việt Nam</b>
                                    </div>
                                </div>
                                <div class="content_blog">
                                    <div class="content_right">
                                        <h3>
                                            <a href="#" title="HỢP TÁC SUPREME X VANS MÙA XUÂN 2023: BỘ SƯU TẬP MỚI TẠI VANS">HỢP TÁC SUPREME X VANS MÙA XUÂN 2023: BỘ SƯU TẬP MỚI TẠI VANS</a>
                                        </h3>
                                    </div>
                                    <div class="summary_item_blog">
                                        <p>Mùa Xuân 2023 đang là một mùa đầy sự kiện đối với nhà Vans, đặc biệt là đối với vi...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="blog_index">
                            <div class="myblog" onclick="window.location.href='#';">
                                <div class="image-blog-left a-center">
                                    <a href="#" title="KHI SỰ TÁI CHẾ LÊN NGÔI CÙNG VAULT BY VANS">

                                        <img class="lazyload img-responsive loaded" src="~/Assets/Images/news/desktop25.png" alt="KHI SỰ TÁI CHẾ LÊN NGÔI CÙNG VAULT BY VANS" data-was-processed="true">

                                    </a>
                                    <div class="date_blog">
                                        <i class="fa fa-calendar"></i><b class="color_main">06/05/2023</b>
                                        &nbsp; Đăng bởi: <b class="color_main">VANS Việt Nam</b>
                                    </div>
                                </div>
                                <div class="content_blog">
                                    <div class="content_right">
                                        <h3>
                                            <a href="#" title="KHI SỰ TÁI CHẾ LÊN NGÔI CÙNG VAULT BY VANS">KHI SỰ TÁI CHẾ LÊN NGÔI CÙNG VAULT BY VANS</a>
                                        </h3>
                                    </div>
                                    <div class="summary_item_blog">
                                        <p>Nicole McLaughlin, một nhân viên cũ của Reebok, đã tìm được nguồn cảm hứng thời tr...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="blog_index">
                            <div class="myblog" onclick="window.location.href='#';">
                                <div class="image-blog-left a-center">
                                    <a href="#" title="VANS X COLLINA STRADA - MỘT BỘ SƯU TẬP TƯƠI VUI">

                                        <img class="lazyload img-responsive loaded" src="~/Assets/Images/news/collina-3-shoes.png" alt="VANS X COLLINA STRADA - MỘT BỘ SƯU TẬP TƯƠI VUI" data-was-processed="true">

                                    </a>
                                    <div class="date_blog">
                                        <i class="fa fa-calendar"></i><b class="color_main">06/05/2023</b>
                                        &nbsp; Đăng bởi: <b class="color_main">VANS Việt Nam</b>
                                    </div>
                                </div>
                                <div class="content_blog">
                                    <div class="content_right">
                                        <h3>
                                            <a href="#" title="VANS X COLLINA STRADA - MỘT BỘ SƯU TẬP TƯƠI VUI">VANS X COLLINA STRADA - MỘT BỘ SƯU TẬP TƯƠI VUI</a>
                                        </h3>
                                    </div>
                                    <div class="summary_item_blog">
                                        <p>VANS tự hào được hợp tác với Collina Strada, nhãn hiệu thời trang có trụ sở tại Ne...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="blog_index">
                            <div class="myblog" onclick="window.location.href='#';">
                                <div class="image-blog-left a-center">
                                    <a href="#" title="VANS x COBRA KAI">

                                        <img class="lazyload img-responsive loaded" src="~/Assets/Images/news/3-1.png" data-was-processed="true">

                                    </a>
                                    <div class="date_blog">
                                        <i class="fa fa-calendar"></i><b class="color_main">05/05/2023</b>
                                        &nbsp; Đăng bởi: <b class="color_main">VANS Việt Nam</b>
                                    </div>
                                </div>
                                <div class="content_blog">
                                    <div class="content_right">
                                        <h3>
                                            <a href="#" title="VANS x COBRA KAI">VANS x COBRA KAI</a>
                                        </h3>
                                    </div>
                                    <div class="summary_item_blog">
                                        <p>Cobra Kai&nbsp;- là series thuộc chương tiếp theo trong thương hiệu&nbsp;The Karat...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">

                        <nav class="clearfix relative nav_pagi w_100">
                            <ul class="pagination clearfix">

                                <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>

                                <li class="active page-item disabled"><a class="page-link" href="#">1</a></li>

                                <li class="page-item"><a class="page-link" href="#">2</a></li>

                                <li class="page-item"><a class="page-link" href="#">3</a></li>

                                <li class="page-item"><a class="page-link" href="">...</a></li>

                                <li class="page-item"><a class="page-link" href="#">57</a></li>

                                <li class="page-item hidden-xs">
                                    <a class="page-link" href="/tin-tuc-vans?page=2">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>
                        </nav>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

