
@{
    ViewBag.Title = "Size Giày VANS -Cách Đo Size Giày VANS Chi Tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page section_base">
    <div class="container">
        <div class="wrap_background_aside padding-top-15 margin-bottom-40">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="page-title category-title">
                        <h1 class="title-head"><a href="#">Size Giày VANS -Cách Đo Size Giày VANS Chi Tiết</a></h1>
                    </div>
                    <div class="content-page rte">
                        <p style="text-align: justify;"><u><strong>Các bước kiểm tra size giày VANS:</strong></u></p>
                        <p style="text-align: justify;"><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;"><strong><span style="color:#c0392b;"><u>Bước 1</u>:</span></strong> Chuẩn bị một tờ giấy và đặt chân lên tờ giấy đó.</span></span></p>
                        <p style="text-align: justify;"><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;"><strong><span style="color:#c0392b;"><u>Bước 2</u>:</span> </strong>Vẽ gót chân và mũi chân lên tờ giấy.</span></span></p>
                        <p style="text-align: justify;"><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;"><strong><span style="color:#c0392b;"><u>Bước 3</u>:</span> </strong>Kẻ 1 đường từ đầu gót chân đến đầu ngón dài nhất như hình&nbsp;(lưu ý: sử dụng ngón chân dài nhất vì một số người dài ngón cái, một số người dài ngón giữa v.v...)</span></span></p>
                        <p style="text-align: justify;"><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;"><strong><span style="color:#c0392b;"><u>Bước 4</u>:&nbsp;</span></strong>Đo chiều dài đường thẳng vừa kẻ và so sánh với mục Cm&nbsp;của bảng size.</span></span></p>
                        <p style="text-align: center;"><img data-thumb="original" original-height="518" original-width="900" src="//bizweb.dktcdn.net/100/140/774/files/bang-size-vans-chuan-nhat-1.jpg?v=1626244976740"></p>
                        <p style="text-align: justify;"><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;"><span style="color:#c0392b;"><strong><em><u>Lưu ý</u>:</em></strong></span><span style="color:#d35400;"><strong><em> </em></strong></span></span></span><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;">Mỗi hãng thể thao có mỗi bảng size khác nhau, không áp dụng size của hãng khác vào hãng <em><strong>VANS</strong></em>.</span></span></p>
                        <p style="text-align: justify;"><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;">Những sản phẩm thuộc <strong><em>VANSVN</em> </strong>phân phối sẽ có những yếu tố sau đây:</span></span></p>
                        <p style="text-align: center;"><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;"><img data-thumb="original" original-height="450" original-width="900" src="//bizweb.dktcdn.net/100/140/774/files/vans-vinh-quang-minh.jpg?v=1626767992769"></span></span></p>
                        <p style="text-align: justify;"><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;">Những sản phẩm không có phiếu bảo hành, tag độc quyền v.v... chúng tôi sẽ không chịu trách nhiệm cho sản phẩm đó</span></span></p>
                        <p style="text-align: justify;">&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

